* { margin:0; padding:0;zoom:1}
html,body{ height: 100%;}
/*body { background:#717171; font-family:Tahoma, Geneva, sans-serif; font-size:100%; line-height:1em; color:#404141;}
*/body { background:#EEEEEE; font-family:Tahoma, Geneva, sans-serif; font-size:100%; line-height:1em; color:#404141;}
input, select, textarea { font-family:Tahoma, Geneva, sans-serif; font-size:1em;}

.head-con {background:rgb(34,8,7);padding:0 0 15px 0;position:relative;}

/*header*/
#header .row-1 {padding:10px 5px;}
.nav-bottom {height:10px;background:rgb(40,40,40)}

#header .logo { position:absolute;left:-160px; padding:10px 0 0 10px; width:113px;}
#header .header-title{float:left;padding:30px  0 0 0px;}

#header .row-2 {}
.nav-box {background:rgba(40,40,40,0.3);height:50px;}
.nav-box ul { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;opacity:1.0;filter:alpha(opacity=100);}
.nav-box ul li { display:inline;}
.nav-box ul li .menu {font-family:Arial,SimHei;float:left; overflow:visible;;width:158px;height:50px;}
.nav-box ul li .menu a.title {display:block;width:158px;height:50px;text-align:center;text-decoration:none;background:url(/images/divider.png) no-repeat left 50%;}
.nav-box ul li:first-child .menu a.title { background:none;}
.nav-box ul li .menu a.title p{height:20px;}
.nav-box ul li .menu a.title p.chinese {padding:8px 0 0 0;color:#fff;font-weight:bolder;}
.nav-box ul li .menu a.title p.english{padding:0 0 2px 0;color:rgb(120,120,120);font-style:italic}
.nav-box ul li .menu .menutitle {overflow:hidden;width:100%;position:relative;}
/*动画
.nav-box ul li .menu .menutitle a.title{	
	-moz-transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-in-out 0.2s;
	-o-transition:all 0.2s ease-out;
	transition:all 0.1s ease;
}
.nav-box ul li .menu:hover .menutitle a.title {opacity:00.5}
.nav-box ul li .menu .menutitle a.animate {
	position:absolute;left:-1px;top:0;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	-moz-transform:scale(10,5); 
	-webkit-transform:scale(10,5);
	-o-transform:scale(10,5); 
	transform:scale(3); 
	opacity:0
}
.nav-box ul li .menu:hover .menutitle a.animate  {
	-moz-transform:scale(1); 
	-webkit-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1); 
	opacity:1.0;
}*/

.nav-box ul li .menu .submenu {display:none; position:relative;z-index:100;}
.nav-box ul li .menu .submenu a {font-family: 华文新魏; font-size:18px;display:block;width:158px;height:30px;line-height:30px;float:left;text-align:center;color:#fff;text-decoration:none;background:url(/images/sub-divider.jpg) 50% 0% no-repeat rgba(40,40,40,0.9);}
.nav-box ul li .menu a:hover{font-weight:bolder; color:#fff; border:none;}
.nav-box ul li .menu .submenu p:first-child a {background-image:none;}


/*背景图片*/
.context .picbg1 {width:100%;height:375px;position:absolute;background:url(/images/content-picrow-bg1.gif) repeat 50% top #DDDDDD;}
.context .picbg2 {width:100%;height:150px;position:absolute; bottom:0;background:rgb(51,51,51);}
.context .imagelist {width:900px;height:375px;margin:0 auto;background:url(/images/content-bg.gif) repeat 50% top #DDDDDD;border:1px solid white}
.infoback {background:#fff;margin-top:5px;border:solid white 1px;}
.info {background:#fff;margin:17px 24px;border:solid white 1px;}



/**/
.researchlist { margin:1.5em 0;}
.people {clear:both; min-height:150px; margin-bottom:25px}


.imagefade {
	width:900px;
	padding:0px;
	position:relative;
	height:300px;
	margin:20px auto 0;
	background:rgb(102,102,102);
	overflow:hidden;
}
.imagefade ul {
	width:10000px;
	display:block;
	position:relative;
	left:-2700px;
	margin:0px;
}
.imagefade ul li{
	display:inline;
	width:900px;
	float:left;
	list-style:none;
}
.imagefade ul li img{
	width:900px;
}
.imagefadectrl{
	text-align:center;
	position:relative;
	margin:0 auto;
	width:800px;
	height:90px;
	top:-30px;
	background:#fff;
	border:#CCCCCC solid thin;
}
.imagefadectrl .imgbtn{
	margin:14px 15px;
	height:62px;
	text-align:left;
}
.imagefadectrl .imgbtn .imgpick{
	margin:0 15px;
	height:62px;
	width:700px;
	float:left;
	overflow:hidden;
}
.imagefadectrl .imgbtn ul{
	margin:0;
	width:1000px;
}
.imagefadectrl .imgbtn ul li{
	display:inline;
	list-style:none;
}
.imagefadectrl .imgbtn ul li .border{
	height:54px;
	width:98px;
	float:left;
	border:1px #B8B8B8 solid;
	padding:2px;
	margin:0 0 0 10px;
}
.imagefadectrl .imgbtn ul li .border:hover{border-color:#000;}
.imagefadectrl .imgbtn ul li .current{
	height:54px;
	width:98px;
	float:left;
	border:1px #000 solid;
	padding:2px;
	margin:0 0 0 10px;
}
.imagefadectrl .imgbtn .imgpre{
	height:100%;
	width:20px;
	float:left;
	background:url(/images/fade-pre.png);
}

.imagefadectrl .imgbtn .imgnext{
	height:100%;
	width:20px;
	float:right;
	background:url(/images/fade-next.png);
}
.imagefadectrl .imgbtn .imgpre:hover{ background:url(/images/fade-pre-act.png)}
.imagefadectrl .imgbtn .imgnext:hover{ background:url(/images/fade-next-act.png)}



/**/
.photobox {float:left;}
.photobox,.photobox .top,.photobox .right,.photobox .bottom,.photobox .left,.photobox .top-right,.photobox .right-bottom,.photobox .bottom-left,.photobox .left-top{width:133px;height:187px;position:relative}
.photobox .top{background:url(/images/photo-border-top.gif) top repeat-x}
.photobox .right{background:url(/images/photo-border-right.gif) right repeat-y}
.photobox .bottom{background:url(/images/photo-border-bottom.gif) bottom repeat-x}
.photobox .left{background:url(/images/photo-border-left.gif) left repeat-y}
.photobox .top-right{background:url(/images/photo-border-top-right.gif) top right no-repeat}
.photobox .right-bottom{background:url(/images/photo-border-right-bottom.gif) right bottom no-repeat}
.photobox .bottom-left{background:url(/images/photo-border-bottom-left.gif) bottom left no-repeat}
.photobox .left-top{background:url(/images/photo-border-left-top.gif) left top no-repeat;}
.photobox .photo{width:115px;height:161px;background:rgb(102,102,102); position:absolute; top:10px; left:7px}
.photobox .photo img{width:115px;height:161px;}
.resume {float:right;width:740px}
.resume .title{background:url(/images/content-bg.gif) repeat;width:700px;margin:0 auto;height:24px}
.resume .title .name{background-color:#FFFFFF; font-size:24px;float:left;height:25px; line-height:25px}
.resume .divide-line{width:700px; height:2px;border:1px #D4D4D4 solid; background:#ADADAD;margin:10px auto}
.resume .forliving{line-height:1.5em;font-size:16px}
.a-mem .experience {text-indent:2em;}
.a-mem .item { font-weight:bolder;}
.a-mem .field,.a-mem .mails{margin-top:1em}
.a-mem{ background:url(/images/member-divider.jpg) no-repeat top; margin-top:40px;padding-top:40px}
.a-mem:first-child {background:none; margin-top:0;padding-top:0}
/*时间轴*/
.timeline {margin:auto;}
.timeline .timeline-containerR {border-left:solid 3px rgb(221,225,229)}
.timeline-containerR,.timeline-containerL {width:445px;float:left}
.timeline .session{position:relative;width:100%;margin-top:30px}
.timeline-containerL  .session{float:right;}
.timeline-containerR  .session{float:left;}
.timeline .arrow {position:absolute;width:25px;height:14px;z-index:50;background:#444;top:15px}
.timeline-containerL  .arrow {right:-5px}
.timeline-containerR  .arrow{left:-5px}
.timeline .newsfeed {width:425px;min-height:100px;background:grey}
.timeline-containerL .newsfeed {float:left}
.timeline-containerR .newsfeed {float:right}
/**/
.footer .container{color:rgb(51,51,51)}
.footer .context{color:#CCC; margin:20px 30px; background:rgb(51,51,51);float:right}

/*blog*/
.blog h1{line-height:1.1em;}
.blog .blog-content {padding-top:2em;}
.blog .blog-content p{padding-bottom:0.5em;line-height:1.5em;text-indent:2em}
.blog p.noident	{text-indent:0;}
.blog .strong {color:#c0392b}
.blog p.imgblock	{text-indent:0;text-align:center;}
.blog .latex {vertical-align:-10%;height:18px;}
.blog .formula img{vertical-align:middle;height:30px;}
.blog p.author{padding-bottom:1em;}
.blog p.date{color:#bdc3c7;}
.blog a{color:#f39c12;}
.blog code{font-size:16px;line-height:1.3em}
.blog p.formula{text-align:center;position:relative}
.blog code {overflow-x:auto;}
.blog span.formulaNO{
	display:block;
	position:absolute;
	right:2em;
	top:0em;
	text-indent:0;
	overflow:visible;
	text-align:right;
}
/*news*/
.news .title{
	padding:5px;	
}
.news .excerpt{
	line-height:1.5em;
	text-indent:2em;
	padding:0.5em;
	color:#bdc3c7;
	background:#ecf0f1;
}
.news a{
	font-size:x-large;
	color:#f39c12;
}
.news .post-date{
	color:#bdc3c7;
}
/*招生咨询**/
.consult h3{
	font-weight:border;
	text-align:center;
}
.consult p{
	text-indent:2em;
	line-height:1.5em;
}

.consult a{
	color:#f39c12;
}

