---
layout: default
---
<div class="blog">
	<h1>{{ page.title }}</h1>
	<p class="date">By:{{ page.author}} 于 {{ page.date | date: "%b %-d, %Y" }}</p>
	<div class="blog-content">
	{{ content }}
	<p style="font-style:italic;padding:0 0 2em 0;">
		<a href="{{ site.url }}{{ page.url }}">(转载请注明出处：{{ site.url }}{{ page.url }})</a>
	</p>
	</div>
</div>

<div>
	<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a title="分享到天涯社区" href="#" class="bds_ty" data-cmd="ty"></a><a title="分享到Twitter" href="#" class="bds_twi" data-cmd="twi"></a><a title="分享到搜狐微博" href="#" class="bds_tsohu" data-cmd="tsohu"></a><a title="分享到Facebook" href="#" class="bds_fbook" data-cmd="fbook"></a><a title="分享到linkedin" href="#" class="bds_linkedin" data-cmd="linkedin"></a><a title="分享到腾讯朋友" href="#" class="bds_tqf" data-cmd="tqf"></a><a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a></div>
	<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"{{ page.title }}","bdDesc" : "{{ page.excerpt }}","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</div>
<div>
			<!-- 多说评论框 start -->
			<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site:url }}{{ page.url }}"></div>
			<!-- 多说评论框 end -->
			<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
			<script type="text/javascript">
			var duoshuoQuery = {short_name:"ucas"};
				(function() {
					var ds = document.createElement('script');
					ds.type = 'text/javascript';ds.async = true;
					ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
					ds.charset = 'UTF-8';
					(document.getElementsByTagName('head')[0] 
					 || document.getElementsByTagName('body')[0]).appendChild(ds);
				})();
				</script>
	<!-- 多说公共JS代码 end -->
</div>
